/*  NAV BAR */
.header {
  padding: 18.5rem 0;
  background:
      linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      url("field.jpg") center center no-repeat;
  background-size: cover; }

[data-sticky] {
  width: 100%; }

.top-bar {
  background-color:#247BA0;
  padding: 0rem;
  transition: padding .25s ease; }

.is-stuck .top-bar {
  padding: 0rem;
  transition: padding .25s ease; }

.menu > li > a {
      padding: 1rem 4rem;
      letter-spacing: 3px;
      color: #fff;
      text-transform: uppercase;
  }

.top-bar ul {
  background-color: #247BA0;
}

.top-bar h2 {
  margin-bottom: 0;
}

i:hover {
  color: #70C1B3;
}

.menu > li > a:hover {
  color: #70C1B3;
}
body {
  background: #70C1B3; }

.project {
  background: #B2DBBF;
}

h2, h3 {
  text-transform: uppercase;
  font: bolder 0.875rem "Avenir Next";
  letter-spacing: 5px;
  color: #000;
  font-size: 130%;
  text-align: center;
  line-height: 3rem;
}

h2#brand {
  color: #fff;
  padding-left: 50px;
}

/* TEXT BOXES */
  .head.panel {
    margin: 3rem auto;
    border: 2px solid #444;
    background: #fff; }
    .head.panel p {
      font: 1rem "Avenir Next";
      padding: 1rem 2rem 2rem 2rem;
      margin-top: -1.25rem; }
      .head.panel p span {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 75%;
        font-weight: bold; }
    .head.panel .sign {
      background: #fff;
      width: 60%;
      height: 2.4rem;
      border: 2px solid #444;
      position: relative;
      top: -2.5rem;
      padding-bottom: 48px;
      margin: auto; }
      .head.panel .sign h1 {
        text-transform: uppercase;
        font: bolder 0.875rem "Avenir Next";
        letter-spacing: 3px;
        color: #666;
        font-size: 70%;
        text-align: center;
        line-height: 3rem; }

body {
  font: 1rem "Avenir Next";
  margin: 0;
}

.fa {
  font-size: 20px;
  color: black;
}


/* FOOTER */
.footer {
  background-color: #247BA0;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }
  .footer p.slogan {
    color: #000;
    font-size: 1.8rem;
    margin: 0 0 1rem; }
  .footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0; }
  .footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0; }
    .footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem; }
    .footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }
